.list-container {
    height: calc(100vh - 75px);
    overflow-y: auto;
    width: 400;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
    padding: 20px;
}

.level1 p {
    cursor: pointer;
    margin: 0;
    font-size: 1.2rem;
    padding: 2px;
    background: url("/src/assets/folder-icon.png") no-repeat left center;
    padding-left: 20px;
}

.level2 p {
    cursor: pointer;
    margin-left: 20px;
    font-size: 1rem;
    padding: 2px;
    background: url("/src/assets/type-icon.png") no-repeat left center;
    padding-left: 25px;
}

.level3 {
    padding-left: 10px;
}

.level3 p {
    cursor: pointer;
    margin-left: 40px;
    font-size: 0.9rem;
    padding: 2px;
    align-items: center;
    background: url("/src/assets/module-icon.png") no-repeat left center;
    padding-left: 25px;
}

.level3 p.selected {
    background-color: lightgrey;
}


.search {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-input {
    flex: 1;
    height: 27px;
    border: 0.3px solid #AAAAAA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-button {
    /*width: 72px;*/
    height: 31px;
    background-color: #D9D9D9;
    border: 0.3px solid #AAAAAA;
    cursor: pointer;
    margin: 0;
    margin-left: 5px;

    p {
        margin: 0;
    }
}

.sort p {
    color: #4c4c4c;
    margin: 0;
    font-size: 18px;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /* добавим небольшой отступ сверху для визуального разделения */
    margin-bottom: 10px;
}

.sort-label {
    margin-right: 20px;
    height: 100%;
    align-items: center;
}

.sort-options {
    display: flex;
}

.sort-options label {
    /*margin-right: 20px;*/
    cursor: pointer;
    /*position: relative;*/
    width: 120px;
    display: flex;
    align-items: center;
}


.not-found {
    text-align: center;
    font-size: 18px;
}
.context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #f5f5f5;
}